* {
  box-sizing: border-box; 
}

body {
  background-color: #121212;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

h3, h2, h1, legend, p, label, span {
  color: #ebebeb;
}

input {
  background-color: #121212; 
  border: none; 
  border-bottom: 1px solid #6c6c6c;
  box-shadow: none;
  color: #ebebeb;
  
  padding: 8px;
  font-size: 15px;
  text-align: center;
  outline: none;

  font-size: clamp(12px, 3vw, 15px);
  width: 100%;
}

input:focus {
  border-bottom: 1px solid #ebebeb;
}

hr {
  width: 100%;
  border: none; 
  border-top: 1px solid #ebebeb; 
  margin: 20px 0; 
}

h1, #entries-container, #add-button {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.titles > div {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.titles > .action-div {
  flex: 0.6; 
}

.titles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  background-color: #121212;
  align-items: flex-end;
  gap: 2%;
}

.titles h2 {
  font-size: clamp(10px, 2.5vw, 16px);
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

#add-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #121212;
  color: #4CAF50;
  border: 2px dotted #4CAF50;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#add-button:hover {
  border: 2px solid #4CAF50;
}

.remove-button {
  padding: 8px 15px;
  background-color: #121212;
  color: #f44336;
  border: 2px dotted #f44336;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 28px;
  width: 100%;
  font-size: clamp(10px, 3vw, 14px);
}

.remove-button:hover {
  border: 2px solid #f44336;
}

#date-disp {
  color: #e35ca5;
  font-size: 16px;
}