body {
  background-color: #121212;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

hr {
  width: 100%;
  border: none; 
  border-top: 1px solid #ebebeb;
  margin: 20px 0;
}

h3, h2, h1,legend, p, label, span {
  color: #ebebeb;
}

input {
  background-color: #121212; 
  border: none; 
  box-shadow: none;
  color: #ebebeb;
}

fieldset {
  border: 2px solid #ebebeb;
  border-radius: 6px;
}

.info {
  display: flow;
  gap: 20px;             
  
}

.settings-form, .buttons-form {
  display:grid;
  grid-template-columns: max-content max-content;
  grid-gap:5px;
}
.settings-form label       { text-align:right; }
.settings-form label:after { content: ":"; }

.buttons-form, .info {
  display: flex;
  justify-content: space-evenly; 
  width: 100%;      
  gap: 15px;        
  margin-top: 15px; 
}
