.info {
  display: flex;         
  align-items: center;   
  gap: 20px;             
}

.pulled-to-side {
  max-width: 200px;      
  height: auto;
}

body {
  background-color: #0d2147;
}

h3, h2, h1,legend {
    color: #d74ac7;
}

p, label  {
    color: #ff82bd;
}

button, input {
  background-color: #054b84; 
  border: 2px solid #54cea7; 
  box-shadow: none;
  color: #54cea7;
  
}

fieldset {
  border: 2px solid #d74ac7; /* Width, style, and color */
  border-radius: 6px;        /* Optional: rounds the corners */
}